{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block menu_items %}
    <a class="nav-item nav-link active" href="/"><span class="sr-only">Home</span></a>
    {% if session.response_data and session.status|string() == "active"|string() %}
        <a class="nav-item nav-link" href="/text">Import By Text</a>
        <a class="nav-item nav-link" href="/link">Import By Link</a>
        <a class="nav-item nav-link" href="/info">Info</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    {% else %} 
        <a class="nav-item nav-link" href="/info">Info</a>
        <a class="nav-item nav-link" href="/login">Log In</a>
    {% endif %}
{% endblock %}

{% block main %}
    <h1>importify | Home</h1>
    <p>Import playlists into Spotify.</p>
    {% if session.response_data and session.status|string() == "active"|string() %}
        <p><a href="/text">Import By Text</a></p>
        <p><a href="/link">Import By Link</a></p>
        <p><a href="/info">Attribution & Info</a></p>
        <br>
        <br>
        <p>Pending approval from Spotify for API quota extension request.
        <br>
        Until then, <a href="https://forms.gle/xY4DoyqH7o9SVLYM6" target="_blank">sign up for importify access here.</p>

    {% else %} 
        <p><a href="/login">Log In</a></p>
        <p>Import By Text</p>
        <p>Import By Link</p>
        <p><a href="/info">Attribution & Info</a></p>
        <br>
        <br>
        <p>Pending approval from Spotify for API quota extension request.
        <br>
        Until then, <a href="https://forms.gle/xY4DoyqH7o9SVLYM6" target="_blank">sign up for importify access here.</p>
    {% endif %}
    
{% endblock %}
