{% extends "layout.html" %}

{% block title %}
    Import By Link
{% endblock %}

{% block menu_items %}
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/text">Import By Text</a>
    <a class="nav-item nav-link active" href="/link"><span class="sr-only">Import By Link</span></a>
    <a class="nav-item nav-link" href="/info">Info</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
{% endblock %}

{% block main %}
    <h1>importspotify | Import By Link</h1>
    <br>
    
    {% if error %}
        <p style="color:red">{{error}}</p>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="card text-center mx-auto" style="width:100%">
                    <div class="card-body">
                        <form action="/link" method="post">
                            <div class="form-group">
                                <input type="text" style="width:100%" class="form-control mx-auto my-1" id="playlist_link" name="playlist_link" placeholder="Link of Spotify Playlist to Import to Personal Library">
                            </div>

                            <div class="form-group">
                                <input type="text" style="width:100%" class="form-control mx-auto my-1" id="playlist_name" name="playlist_name" placeholder="New Playlist Name (optional)">
                            </div>
                    
                            <div class="form-group">
                                <textarea style="width:100%" class="form-control mx-auto my-1"  id="playlist_desc" name="playlist_desc" placeholder="New Playlist Description (optional)" rows="2">{% if error %}{{error.playlist_desc}}{% endif %}</textarea>
                            </div>
                    
                            <select class="form-select mx-auto my-1" name="playlist_visibility">
                                <option disabled="" selected="">New Playlist Visibility</option>
                                <option value="True">Public</option>
                                <option value="False">Private</option>
                            </select>
                                            
                            <button type="submit" class="btn spotify-green-button" style="width:100%">Import!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
